.welcome-view {
  .player-name-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border: 1px solid black;
    width: 280px;
    height: 130px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 20px;

    .player-name-input {
      width: 200px;
      height: 30px;
      border-radius: 30px;
      font-size: 1.3em;
      padding-left: 15px;
      outline-color: #03ffc3;
    }

    .player-name-btn {
      width: 160px;
      font-size: 1.5em;
      border-radius: 30px;
      border: 1px solid black;
      background-color: rgb(236, 246, 244);

      &:hover {
        transition: 0.15s;
        background-color: #03ffc3;
        box-shadow: 1px 1px 3px 2px rgb(200, 200, 200);
      }
    }
  }

  h1 {
    font-size: 1.6em;
    text-align: center;
    padding: 20px 10px;
  }
}