.word-choosing-view {
  &>p {
    text-align: center;
    font-size: 1.3em;
    padding: 30px;
  }

  .choose-word {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 28%;
    padding: 15px;
    cursor: pointer;

    &:hover {
      box-shadow: 1px 1px 3px 4px rgb(236, 234, 234);
    }

    .points {
      font-size: 0.7em;
      padding-bottom: 10px;
    }
  }
}