.word-choosing-view {
  &>p {
    text-align: center;
    font-size: 1.3em;
    padding: 15px;
  }

  .choose-word {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .level {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    border: 1px solid black;
    border-radius: 8px;
    width: 28%;
    padding: 15px;

    p:first-child {
      border-bottom: 1px solid black;
    }

    p:last-child {
      font-size: 1.3em;
    }

    cursor: pointer;

    &.easy:hover {
      box-shadow: 1px 1px 3px 4px rgb(123, 251, 4);
    }

    &.medium:hover {
      box-shadow: 1px 1px 3px 4px rgb(255, 180, 19);
    }

    &.hard:hover {
      box-shadow: 1px 1px 3px 4px rgb(255, 1, 1);
    }

    .points {
      font-size: 0.8em;
      padding-bottom: 10px;
    }
  }
}