@font-face {
    font-family: fa;
    src: url("/assets/fonts/fa-brands-400.ttf");
}

// @font-face {
//     font-family: fa;
//     src: url("/scss/fonts/fa-brands-400.ttf");
// }

@font-face {
    font-family: 'sora-thin';
    src: url("/assets/fonts/Sora/static/Sora-Thin.ttf");
}

@font-face {
    font-family: 'sora-semiBold';
    src: url("/assets/fonts/Sora/static/Sora-SemiBold.ttf");
}

@font-face {
    font-family: 'sora-regular';
    src: url("/assets/fonts/Sora/static/Sora-Regular.ttf");
}

@font-face {
    font-family: 'sora-medium';
    src: url("/assets/fonts/Sora/static/Sora-Medium.ttf");
}

@font-face {
    font-family: 'sora-light';
    src: url("/assets/fonts/Sora/static/Sora-Light.ttf");
}

@font-face {
    font-family: 'sora-bold';
    src: url("/assets/fonts/Sora/static/Sora-Bold.ttf");
}

body {
    font-family: 'sora-light';
    // font-family: 'sora-thin';

    // font-family: 'sora-bold';
    // font-family: 'sora-medium';
    // font-family: 'sora-regular';
    // font-family: 'sora-semiBold';
    // font-family: 'sora-thin';
}